<div class="codigo-container">
  <div class="header">
    <h1>INVERNADERO INTELIGENTE</h1>
    <h2>Código de recuperación</h2>
  </div>
  <div class="codigo-box">
    <h2>Ingresa el código que llegó a tu correo</h2>
    <p>Como medida de seguridad adicional, ingresa el código de 6 dígitos que enviamos </p>
    <div class="codigo-inputs">
      <input 
        *ngFor="let codigo of codigoRecuperacion; let i = index"
        type="number" 
        maxlength="1" 
        class="codigo-input" 
        min="0" 
        max="9" 
        oninput="this.value = this.value.slice(0, 1)"
        #codigoInput
        (input)="handleInput($event, i)" 
        (keydown)="handleBackspace($event, i)">
    </div>

    <button class="recuperar-btn" routerLink="/recuperar-contrasena">Ingresar código</button>
    <p><a routerLink="">Reenvíar código</a></p>
  </div>
</div>  
