<div class="codigo-container">
  <div class="codigo-box">
    <h2>Ingresa el código que llegó a tu correo</h2>
    <p>Como medida de seguridad adicional, ingresa el código de 6 dígitos que enviamos </p>
    <div class="codigo-inputs">
      <input type="text" maxlength="1">
      <input type="text" maxlength="1">
      <input type="text" maxlength="1">
      <input type="text" maxlength="1">
      <input type="text" maxlength="1">
      <input type="text" maxlength="1">
    </div>

    <button class="recuperar-btn">Ingresar código</button>
    <p><a routerLink="/recuperar-contrasena">Reenvíar código</a></p>
  </div>
</div>  
