<div class="container">
    <div class="background">
        <div class="header">
            <h1>INVERNADERO INTELIGENTE</h1>
            <h2>Crear una cuenta nueva</h2>
            <p>¿Ya estás registrado? <a routerLink="/iniciar-sesion">Ingresa</a></p>
        </div>
        <div class="form-container">
            <form>
                <label>NOMBRE</label>
                <input type="text" placeholder="Alexa Gastelum">

                <label>CORREO ELECTRÓNICO</label>
                <input type="email" placeholder="hola@gmail.com">

                <label>CONTRASEÑA</label>
                <input type="password" placeholder="**">

                <label>CONFIRMAR CONTRASEÑA</label>
                <input type="password" placeholder="**">

                <button type="button" routerLink="/tablero-principal">Ingresar</button>
            </form>
        </div>
    </div>
</div>
