 <body>
  <div class="background-container">
    <div class="graph-content">

      <!-- Parte superior: solo un recuadro blanco -->
      <div class="graph-top-cards">
        <div class="top-card">
            <div class="graph-comtainer">
              <canvas id="chart1"></canvas> <!-- Aquí se renderiza la gráfica combinada -->
            </div>
        </div>
      </div> 

      <!-- Recuadro verde abajo centrado y delgado -->
      <div class="graph-header">
        <h3>Temperatura actual: 25°C | Humedad: 60%</h3>
      </div> 

      <!-- Recuadro inferior con imágenes y textos -->
      <div class="graph-footer">
        <h3>Información Adicional</h3>
        <div class="image-circles">
          <div>
            <div class="circle-img">
              <img src="http://imgfz.com/i/CZJOglL.jpeg" alt="Agua" />
            </div>
            <p class="image-description">
              El control de agua optimiza el riego con sistemas automatizados como goteo o hidroponía para ajustar la hidratación según las necesidades del cultivo.
            </p>
          </div>
          <div>
            <div class="circle-img">
              <img src="http://imgfz.com/i/cQg8kPw.jpeg" alt="Luz" />
            </div>
            <p class="image-description">
              El control de luz regula la iluminación y sistemas automatizados, ajustando la intensidad y duración según las necesidades del cultivo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 
