<div class="dashboard-layout">
  <header>
    <h1 class="titlee">Dashboard</h1>
  </header>
  <!-- Contenido principal -->
  <section class="main-content">
  

    <!-- Contenedor para gráficas -->
    <div class="charts-container">
      <!-- Gráfica izquierda -->
      <div class="chart-container-left">
        <canvas #myChart></canvas> <!-- Gráfica existente -->
      </div>

      <!-- Gráfica derecha -->
      <div class="chart-container-right">
        <p>Espacio para otra gráfica</p> <!-- Placeholder para la segunda gráfica -->
      </div>
    </div>

    <!-- Contenedor de las tarjetas -->
    <div class="cards">
      <div class="card">
        <div class="card-icon">🌡️</div>
        <h3>Temperatura</h3>
        <p>25°C</p>
      </div>
      <div class="card">
        <div class="card-icon">💧</div>
        <h3>Humedad</h3>
        <p>45%</p>
      </div>
      <div class="card">
        <div class="card-icon">☀️</div>
        <h3>Luz Solar</h3>
        <p>72%</p>
      </div>
      <div class="card">
        <div class="card-icon">✔️</div>
        <h3>Estado General</h3>
        <p>Óptimo</p>
      </div>
    </div>
  </section>
</div>

