<main class="main">
  <nav *ngIf="showNav">
      <ul>
        <li><a routerLink="/crear-cuenta">Crear Cuenta</a></li>
        <li><a routerLink="/recuperar-contrasena" >Recuperar Contraseña</a></li>
        <li><a routerLink="/usuarios">Usuarios</a></li>
        <li><a routerLink="/iniciar-sesion" >Iniciar Sesion</a></li>
        <li><a routerLink="/dashboards">Dashboard</a></li>
        <li><a routerLink="/invernaderos-card">invernaderos card</a></li>
        <li><a routerLink="/tablero-principal">Pagina Principal</a></li>
      </ul>
    </nav>
    

    <router-outlet></router-outlet>
</main>


