<main class="main">
    <nav *ngIf="showNav">
        <ul>
          <li><a routerLink="/crear-cuenta">Crear Cuenta</a></li>
          <li><a routerLink="/recuperar-contrasena" >Recuperar Contraseña</a></li>
          <li><a routerLink="/pagina-principal" >Página Principal</a></li>
          <li><a routerLink="/usuarios">Usuarios</a></li>
          <li><a routerLink="/detalle-invernadero" >DetalleInvernadero</a></li>
          <li><a routerLink="/estadisticas">Estadisticas</a></li>
        </ul>
      </nav>
      

      <router-outlet></router-outlet>
</main>


