<div class="header-simple">
  <button class="btn-agregar" (click)="abrirModal()">Agregar</button>
  <h1 class="titulo-simple">Invernaderos</h1>
  <div class="acciones-simple">
    <input type="text" class="buscar-simple" [(ngModel)]="busquedaNombre"  placeholder="Buscar...">
    <button class="agregar-simple">Buscar</button>
  </div>
</div>

<div class="contenido-principal">
  <!-- Modal -->
  <div *ngIf="mostrarModal" class="modal">
    <form [formGroup]="form" (ngSubmit)="guardarInvernadero()">
      <label for="Nombre">Nombre:</label>
      <input id="Nombre" formControlName="Nombre" type="text" />
  
      <label for="NombrePlanta">Nombre de la Planta:</label>
      <input id="NombrePlanta" formControlName="NombrePlanta" type="text" />
  
      <label for="TipoPlanta">Tipo de Planta:</label>
      <input id="TipoPlanta" formControlName="TipoPlanta" type="text" />
  
      <label for="MinTemperatura">Temperatura Mínima:</label>
      <input id="MinTemperatura" formControlName="MinTemperatura" type="number" />
  
      <label for="MaxTemperatura">Temperatura Máxima:</label>
      <input id="MaxTemperatura" formControlName="MaxTemperatura" type="number" />
  
      <label for="MinHumedad">Humedad Mínima:</label>
      <input id="MinHumedad" formControlName="MinHumedad" type="number" />
  
      <label for="MaxHumedad">Humedad Máxima:</label>
      <input id="MaxHumedad" formControlName="MaxHumedad" type="number" />
  
      <!-- Checkboxes para Usuarios -->
      <!--<mat-form-field appearance="fill">
        <mat-label>Selecciona usuarios</mat-label>
        <mat-select multiple [formControl]="form.controls.usuariosIds">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario._id">
            {{ usuario.NombreCompleto }}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
      
      <!--<mat-form-field appearance="fill">
        <mat-label>Selecciona sensores</mat-label>
        <mat-select multiple [formControl]="form.controls.sensoresIds">
          <mat-option *ngFor="let sensor of sensores" [value]="sensor._id">
            {{ sensor.Tipo }}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
  
      <button type="submit">Guardar</button>
      <button type="button" (click)="cerrarModal()">Cancelar</button>
    </form>
  </div>

<div class="dashboard">
  <div *ngFor="let invernadero of invernaderosFiltrados">
    <app-invernaderos-card 
    [nombre]="invernadero.nombre"
    [imagen]="invernadero.imagen">
    </app-invernaderos-card>
  </div>
</div>