/* Sidebar */
.sidebar {
  background-color: #354f31; /* Verde oscuro elegante */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ancho del sidebar */
  width: 210px; /* Ancho del sidebar */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  overflow: hidden; /* Evita desbordamientos */
  display: flex; /* Flexbox para organizar elementos */
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  transition: width 0.3s; /* Transición suave al cambiar ancho */
  font-family: Arial, Helvetica, sans-serif;
}

/* Logo del Sidebar */
.sidebar-logo {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-logo img {
  margin-top: 20px;
  max-width: 100px;
  height: auto;
  border-radius: 10px;
  width: 100%;
}

/* Título del Sidebar */
.title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Menú de Opciones */
.items {
  margin-top: 20px;
  padding: 10px;
}

.items li {
  list-style: none;
  font-size: x-large;
  padding: 5px;
}

.items a {
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.items a:hover {
  background-color: #5a703d; /* Fondo más claro al pasar sobre los enlaces */
  transform: scale(1.05); /* Escala suave */
}

/* Sección de Logout */
.logout {
  margin-top: auto; /* Empuja hacia abajo el logout */
  text-align: center;
  padding: 20px;
  border-top: 1px solid #6b8e23; /* Separador elegante */
}

.logout a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
  transition: color 0.2s ease;
  display: block;
}

.logout a:hover {
  color: #33691E; /* Color más oscuro al pasar sobre "Cerrar Sesión" */
  text-decoration: underline;
}

/* Media Queries para Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Reduce ancho del sidebar */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 0; /* Esconde el sidebar en pantallas muy pequeñas */
    visibility: hidden;
    padding: 0;
    position: absolute;
  }
}

