<div class="dashboard-layout">
  <aside class="sidebar">
    <!-- Imagen en la parte superior -->
    <div class="sidebar-logo">
      <img src="https://imgfz.com/i/MiQ5Jzs.png" alt="Logo" />
    </div>
    <h2 class="title">Invernadero Inteligente</h2>
    <div class="welcome-message">
      ¡Hola, Bienvenido de Nuevo!
    </div>
    <ul class="items">
      <li [routerLink]="['/tablero-principal']"><a class="a">Inicio</a></li>
      <li><a routerLink="/usuarios">Usuarios</a></li>
    </ul>
    <div class="logout">
      <a (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a> <!-- Aquí se llama a logout() -->
    </div>
  </aside>
</div>
