<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Invernadero Inteligente</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <nav class="navbar">
        <div class="menu">
          <a class="navegacion" href="/invernaderos">Invernaderos</a>
        </div>
        <div class="menu">
          <a class="navegacion" href="/estadisticas">Estadísticas</a>
        </div>
        <div class="logo">INVERNADERO INTELIGENTE</div>
        <div class="menu">
          <a class="navegacion" href="/graficas">Gráficas</a>
        </div>
        <div class="user-info">
          <a class="navegacion" href="/perfil">Perfil <img class="user-image" src="assets/imagenes/usuario-de-perfil.png" alt="user"></a>
        </div>
      </nav>


      <div class="outer-container">
        <div class="container">
            <div class="card">
                <img src="https://imgfz.com/i/JfbMZPz.png" alt="Icono de Temperatura">
                <div class="text">
                    <div>Temperatura</div>
                </div>
                <div class="percentage">35°C</div>
            </div>
            <div class="card">
                <img src="https://imgfz.com/i/ruXoBnp.png" alt="Icono de Humedad">
                <div class="text">
                    <div>Humedad</div>
                </div>
                <div class="percentage">33°C</div>
            </div>
            <div class="card">
                <img src="https://imgfz.com/i/KQ1jhSP.png" alt="Icono de Agua">
                <div class="text">
                    <div>Agua</div>
                </div>
                <div class="percentage">75%</div>
            </div>
        </div>
    </div>
    
    

    
    
</html>