/* Estilos generales para la barra de navegación */
.navbar {
    background-color: #6b8e23; /* Color verde oliva */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }
  
  /* Estilos para los enlaces de navegación */
  .navbar a {
    color: white;
    text-decoration: black;
    margin: 0 15px;
    font-size: 30px;
    font-weight: normal;
  }
  
  .navegacion{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    transition: transform 0.3s ease; /* Agrega una transición suave */
    display: inline-block;
  }
  /* Cambios al pasar el mouse sobre los enlaces */
  .navegacion:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la letra al pasar el cursor */
  }
  
  .logo {
    font-size: 24px;
    justify-content: center;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a703d;
    width: 150px;
    height: 33px;
    border-radius: 30px 0 0 30px;
  }
  
  .user-info a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: normal;
    justify-content: baseline;
  }
  
  .user-image{
    width: 20px;
    height: 20px;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; /* Asegura que ocupe toda la altura de la pantalla */
    flex-direction: column;
    text-align: center;
    padding: 180px; /* Espaciado opcional */
  }
  
  canvas {
    width: 30%; /* Ajusta el ancho del gráfico */
    height: 30px; /* Asegura una altura visible */
    max-width: 40%; /* Evita que el gráfico se estire más allá de su contenedor */
  }
  
  
  


  .outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra los elementos en el contenedor */
    padding: 20px;
  }
  
  .chart-container {
    width: 80%; /* Ajusta el tamaño de la gráfica según sea necesario */
    margin-bottom: 30px; /* Espacio entre la gráfica y las tarjetas */
  }
  
  .container {
    display: flex;
    justify-content: space-around; /* Distribuye las tarjetas equidistantemente */
    width: 100%;
    flex-wrap: wrap;  /* Permite que las tarjetas se muevan a la siguiente fila en pantallas pequeñas */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .card {
    width: 30%;
    min-width: 250px; /* Ancho mínimo de las tarjetas para evitar que se vuelvan demasiado pequeñas */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    font-weight: bold;
  }
  
  .percentage {
    font-size: 24px;
    color: #333;
  }
  


  /* Establecer color de fondo solo para el componente estadisticas */
:host {
  display: block;
  background-color: #dae5d3; /* El color de fondo que desees */
  height: 100%;
}






 


