<div class="recuperar-contrasena-container">
  <div class="header">
    <h1>INVERNADERO INTELIGENTE</h1>
    <h2>Recuperar contraseña</h2>
  </div>

  <form class="form-container" [formGroup]="codigoForm" (ngSubmit)="cambiarContrasena()">
    <label for="nuevaContrasena">Nueva Contraseña:</label>
    <input id="nuevaContrasena" type="password" formControlName="nuevaContrasena" placeholder="Ingrese la nueva contraseña" />

    <label for="confirmarContrasena">Confirmar Contraseña:</label>
    <input id="confirmarContrasena" type="password" formControlName="confirmarContrasena" placeholder="Confirme la nueva contraseña" />

    <button type="submit" [disabled]="codigoForm.invalid" routerLink="">Cambiar Contraseña</button>
  </form>
</div>
