<div class="container">
    <div class="background">
      <div class="header">
        <h1>INVERNADERO INTELIGENTE</h1>
        <h2>¿Olvidaste tú contraseña?</h2>
      </div>
  
      <div class="form-container">
        
        <form>
          <label>CORREO ELECTRÓNICO</label>
          <input type="email" placeholder="hola@gmail.com">
  
          <button type="button" routerLink="/recuperar-codigo">Envíar código</button>
          <p>¿Tienes una cuenta? <a routerLink="/iniciar-sesion">Iniciar sesión</a></p>
        </form>
      </div>
    </div>
  </div>
