<div class="container">
    <div class="background">
      <div class="header">
        <h1>INVERNADERO INTELIGENTE</h1>
        <h2>Iniciar Sesión</h2>
        <p>¿No tienes una cuenta? <a routerLink="/crear-cuenta">Registrate</a></p>
      </div>
  
      <div class="form-container">
        <form>
          <label>CORREO ELECTRÓNICO</label>
          <input type="email" placeholder="hola@gmail.com">
  
          <label>CONTRASEÑA</label>
          <input type="password" placeholder="**">
  
          <button type="button" routerLink="/tablero-principal">Ingresar</button>
          <p><a routerLink="/recuperar-contrasena">¿Olvidaste tu contraseña?</a></p>

          <p><a routerLink="/crear-cuenta">Crear cuenta</a></p>
        </form>
      </div>
    </div>
  </div>
